agentworksapi/MoneyGram.DLS.Service/mgi_error_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://moneygram.com/common_v1" xmlns:cmn="http://moneygram.com/common_v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="ServiceError">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:string"/>
			<xs:element name="errorSource" type="xs:string">
				<xs:annotation>
					<xs:documentation>Service/Application Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="errorMessage" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="errorStackTrace" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="errorLocation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Step in processing that caused the error</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="errorHandlingCode" type="cmn:ErrorHandlingCode"/>
			<xs:element maxOccurs="1" minOccurs="0" name="errorCategoryCode" type="cmn:ErrorCategoryCode">
				<xs:annotation>
					<xs:documentation>Indicates client or system error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="relatedErrors" type="cmn:RelatedErrors">
				<xs:annotation>
					<xs:documentation>List of related errors. Example: required field validation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="offendingField" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RelatedErrors">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="cmn:RelatedError"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RelatedError">
		<xs:annotation>
			<xs:documentation>Related error. Example: offending field and validation message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Errors">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="cmn:error"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ErrorCategoryCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ClientIntegrationError"/>
			<xs:enumeration value="UserError"/>
			<xs:enumeration value="ServiceSystemError"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ErrorHandlingCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RetryNow"/>
			<xs:enumeration value="RetryLater"/>
			<xs:enumeration value="ReturnError"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="error" type="cmn:ServiceError"/>
</xs:schema>